.course{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://thumbs.dreamstime.com/b/fitness-background-sneakers-dumbbells-headphones-pink-table-top-view-copy-space-179474357.jpg");
    background-size: cover;
}